<center><br><h3>Students Basic Profile</h3><br>
<hr />
<p><%= link_to "Add new student", {:action => 'new' }%></p> 
<p><%= link_to "Work on current list of student profiles", {:action => 'list' }%></p> </center>